@import "./custom.scss";

body {
  background-color: rgb(37, 37, 37);
}

// /* Nav Styling */
Navbar {
  height: 60px;
}

/* Search Page */
input:focus {
  outline: none !important;
}

.search-bar {
  height: 45px;
  font-size: 1.5em;
  padding: 10px;
}

.search-bar::placeholder {
  color: #c6d4e9;
  font-size: 1em;
}

input:focus {
  outline: none;
}

/* Currency container and coin components */
.image-wrap {
  overflow: hidden;
  position: relative;
}
.image-wrap-bg {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.image-wrap-bg-nodata {
  display: none;
}

//favourites

.fav {
  cursor: pointer;
}

.selFavWrapper {
  padding: 2px;
  background-image: linear-gradient(
    to right,
    rgb(255, 180, 83),
    rgb(255, 195, 83)
  );
}

.selFavElem {
  background-color: rgb(41, 41, 41);
}

//News

a:link {
  text-decoration: none;
  color: rgb(68, 68, 68);
}
.news-article-link:hover {
  color: black !important;
}
a:visited {
  color: rgb(121, 121, 121);
}

.news-container {
  height: 250px;
  overflow-y: scroll;
}

$breakpoint-lg: 992px;
@media (max-width: $breakpoint-lg) {
  .news-container {
    height: 500px;
    overflow-y: scroll;
  }
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}

//Pagination Comp
/* Pagination Component Styling */

.pagination-links,
.pagination-links a:hover,
.pagination-l-n-links:hover {
  color: white !important;
}

.pagination-container {
  .active-pag {
    background-color: secondary;
  }
}

.pagination-links,
.pagination-l-n-links {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.pag-page,
.pag-break {
  text-align: center;
  color: white;
  width: 1.5em;
  user-select: none;
}

.active-pag,
.active-pag a {
  background-color: cornflowerblue;
}
.pagination-prev,
.pagination-next {
  text-align: center;
  color: white;
  font-size: 1em;
  width: 3em;
  border-radius: 3px;
}
.pagination-prev {
  user-select: none;
}
.pagination-next {
  user-select: none;
}
//Trending

.image-wrapper {
  height: 30px;
}

.price-tool-tip:hover {
  cursor: pointer;
}

.trends-container {
  height: 250px;
  overflow-y: scroll;
}

$breakpoint-lg: 992px;
@media (max-width: $breakpoint-lg) {
  .trends-container {
    height: 450px;
    overflow-y: scroll;
  }
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}
