.fav {
  cursor: pointer;
}

.selFavWrapper {
  padding: 2px;
  background-image: linear-gradient(
    to right,
    rgb(255, 180, 83),
    rgb(255, 195, 83)
  );
}

.selFavElem {
  background-color: rgb(41, 41, 41);
}
