a:link {
  text-decoration: none;
  color: rgb(68, 68, 68);
}
.news-article-link:hover {
  color: black !important;
}
a:visited {
  color: rgb(121, 121, 121);
}

.news-container {
  height: 250px;
  overflow-y: scroll;
}

$breakpoint-lg: 992px;
@media (max-width: $breakpoint-lg) {
  .news-container {
    height: 500px;
    overflow-y: scroll;
  }
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}
