/* Pagination Component Styling */

.pagination-links,
.pagination-links a:hover,
.pagination-l-n-links:hover {
  color: white !important;
}

.pagination-container {
  .active-pag {
    background-color: secondary;
  }
}

.pagination-links,
.pagination-l-n-links {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.pag-page,
.pag-break {
  text-align: center;
  color: white;
  width: 1.5em;
  user-select: none;
}

.active-pag,
.active-pag a {
  background-color: cornflowerblue;
}
.pagination-prev,
.pagination-next {
  text-align: center;
  color: white;
  font-size: 1em;
  width: 3em;
  border-radius: 3px;
}
.pagination-prev {
  user-select: none;
}
.pagination-next {
  user-select: none;
}
