.image-wrapper {
  height: 30px;
}

.price-tool-tip:hover {
  cursor: pointer;
}

.trends-container {
  height: 250px;
  overflow-y: scroll;
}

$breakpoint-lg: 992px;
@media (max-width: $breakpoint-lg) {
  .trends-container {
    height: 450px;
    overflow-y: scroll;
  }
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}
