/* Variables */
:root {
  --cadet: #ffdd9f;
  --border: #ffb224;
  --charleston-green: #0d0d0e;
  --columbia-blue: #c0d6df;
  --alice-blue: #dbe9ee;
  --blue-yonder: #4a6fa5;
  --blue-yonder-light: #c6d4e9;
  --blue-yonder-light-light: #d8e6fc;
  --blue-yonder-dull-light: #aebcd3;
  --carolina-blue: #2c9fdd;
  --carolina-blue-light: #7ed2ff;
  --footer-background: white;
  --footer-content: var(--blue-yonder);
  --coin-background: rgba(255, 255, 255, 0);
}

/* Set font and background colors */
* {
  background-color: var(--blue-yonder-light);
  color: var(--charleston-green);
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: stretch;
}

.App {
  text-align: center;
  min-height: 100vh;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
}
/* Spinner Element */
.icon-container {
  height: 30px;
  width: 30px;
}
.icon-container-header {
  height: 30px;
  width: 30px;
  padding-top: 3px;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
/* Lading state spinner derrived from external source */
.loading-state {
  background-color: rgba(255, 255, 255, 0);
}
/*  */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
}
.lds-roller div {
  animation: lds-roller 2s cubic-bezier(0.4, 0.4, 0.1, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  opacity: 0.7;
  background: var(--blue-yonder);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Nav Styling */
.brand-logo {
  color: var(--charleston-green);
  background-color: var(--cadet) !important;
  font-weight: 500;
  font-size: 20pt;
}
.nav-container-div {
  background-color: var(--cadet) !important;
}
.cryptologo {
  background-color: var(--cadet) !important;
}

.image-container {
  height: 50px;
  width: 50px;
  background-color: var(--cadet) !important;
}
.cryptologo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  background-color: var(--cadet) !important;
}

.nav-bar {
  height: 60px;
  background-color: var(--cadet);
  border-bottom: var(--border) 1px solid;
}
.nav-container {
  background-color: var(--cadet);
}
.search-bar-container {
  background-color: var(--blue-yonder-light);
}
.search-bar {
  background-color: white;
  border: var(--charleston-green) 1px solid;
  border-radius: 3px;
  height: 45px;
  font-size: 1.5em;
  padding: 10px;
}
.search-bar::placeholder {
  color: var(--blue-yonder-light);
  font-size: 1em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Currenc container and coin components */

.coin-container {
  background-color: white;
}
.image-wrap {
  overflow: hidden;
  position: relative;
}
.image-wrap-bg {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.image-wrap-bg-nodata {
  display: none;
}

.coin {
  background-color: var(--coin-background);
}
.coin > * {
  background-color: var(--coin-background);
}
.icon {
  background-color: var(--coin-background);
}

.spacer {
  margin-top: auto;
  background-color: var(--blue-yonder-light);
  flex-grow: 3;
}

/* Pagination Component Styling */

.pagination-container {
  background-color: var(--blue-yonder-light);
}

.pagination-links,
.pagination-l-n-links {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  background-color: var(--blue-yonder-light);
}

.pag-page,
.pag-break {
  text-align: center;
  color: white;
  background-color: var(--blue-yonder-light);
  width: 40px;
  border: 1px solid var(--blue-yonder-dull-light);
  user-select: none;
}
.active-pag {
  color: var(--blue-yonder-dull-light);
  background-color: var(--blue-yonder-dull-light);
}
.active-pag a {
  background-color: var(--blue-yonder-dull-light);
}
.pagination-prev,
.pagination-next {
  text-align: center;
  color: white;
  font-size: 1em;
  width: 60px;
  border: 1px solid var(--blue-yonder-dull-light);
  border-radius: 3px;
}
.pagination-prev {
  margin-inline-end: 15px;
  user-select: none;
}
.pagination-next {
  margin-inline-start: 15px;
  user-select: none;
}

/* Footer */

footer {
  width: 100%;
  height: 150px;
  background-color: var(--footer-background);
  border-top: var(--blue-yonder) 1px solid;
}

.footer-content {
  color: var(--footer-content);
  background-color: var(--footer-background);
}

.footer-content a {
  font-size: 0.8em;
  text-decoration: none;
  color: var(--footer-content);
  background-color: var(--footer-background);
}
.footer-content p {
  font-size: 0.8em;
  text-decoration: none;
  color: var(--footer-content);
  background-color: var(--footer-background);
}

.error {
  background-color: white !important;
}

.no-currencies {
  background-color: white;
}
